<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zunpeng.mapper.BaseMapper">

	<sql id="base_sql_condition">
		<if test="criterionList != null and criterionList.size() > 0">
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="criterionList" separator=" " item="criterion">
					and ${criterion.condition}
					<choose>
						<when test="criterion.likeValue">
							concat("%", #{criterion.value}, "%")
						</when>
						<when test="criterion.singleValue">
							#{criterion.value}
						</when>
						<when test="criterion.betweenValue">
							#{criterion.value} and #{criterion.secondValue}
						</when>
						<when test="criterion.listValue">
							<foreach collection="criterion.valueList" separator=", " open="(" close=")" item="valueItem">
								#{valueItem}
							</foreach>
						</when>
					</choose>
				</foreach>
			</trim>
		</if>
	</sql>

	<sql id="base_sql_order_by">
		<if test="pageable.sort != null">
			<foreach collection="pageable.sort" item="item" separator=", " index="index">
				<if test="index == 0">
					order by
				</if>
				${item.property} ${item.direction}
			</foreach>
		</if>
	</sql>

	<sql id="base_sql_limit">
		limit #{pageable.offset}, #{pageable.pageSize}
	</sql>

	<sql id="base_sql_order_by_and_limit">
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_order_by"/>
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_limit"/>
	</sql>

</mapper>