<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zunpeng.mapper.PermissionInfoMapper">
	<resultMap id="baseResultMap" type="org.zunpeng.domain.PermissionInfo">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="permission" column="permission" jdbcType="VARCHAR"/>

		<result property="createTime" column="create_time"/>
	</resultMap>

	<sql id="baseSql">
		from permission_info
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_condition"/>
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into permission_info (permission, create_time)
		values(#{permission}, #{createTime})
	</insert>

	<update id="update">
		update permission_info
		set permission = #{permission_info}
		where id = #{id}
	</update>

	<select id="getById" resultMap="baseResultMap">
		select * from permission_info where id = #{id}
	</select>

	<select id="getAllLimit" resultMap="baseResultMap">
		select *
		<include refid="baseSql"/>
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_order_by_and_limit"/>
	</select>

	<select id="count" resultType="java.lang.Long">
		select count(*)
		<include refid="baseSql"/>
	</select>
</mapper>