<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zunpeng.mapper.ProductInfoMapper">

	<resultMap id="baseResultMap" type="org.zunpeng.domain.ProductInfo">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="slug" column="slug" jdbcType="VARCHAR"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="coverImg" column="cover_img" jdbcType="VARCHAR"/>
		<result property="brief" column="brief" jdbcType="VARCHAR"/>
		<result property="description" column="description" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time"/>
		<result property="lastModifyTime" column="last_modify_time"/>
		<result property="amount" column="amount" jdbcType="BIGINT"/>
		<result property="deleted" column="deleted" jdbcType="INTEGER"/>
		<result property="published" column="published" jdbcType="INTEGER"/>
		<result property="sequence" column="sequence" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="baseSql">
		from product_info
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_condition"/>
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into product_info(name, brief, deleted, published, cover_img, description, create_time, last_modify_time, amount)
		values(#{name}, #{brief}, #{deleted}, #{published}, #{coverImg}, #{description}, #{createTime}, #{lastModifyTime}, #{amount})
	</insert>

	<update id="update">
		update product_info
		set slug = #{slug}, name = #{name}, brief = #{brief}, description = #{description},
		    last_modify_time = #{lastModifyTime}, amount = #{amount}, deleted = #{deleted},
		    published = #{published}, cover_img = #{coverImg}
		where id = #{id}
	</update>

	<select id="getById" resultMap="baseResultMap">
		select * from product_info where id = #{id}
	</select>

	<select id="getBySlug" resultMap="baseResultMap">
		select * from product_info where slug = #{slug}
	</select>

	<select id="getAllLimit" resultMap="baseResultMap">
		select *
		<include refid="baseSql"/>
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_order_by_and_limit"/>
	</select>

	<select id="count" resultType="java.lang.Long">
		select count(*)
		<include refid="baseSql"/>
	</select>

</mapper>