<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zunpeng.mapper.RoleInfoMapper">
	<resultMap id="baseResultMap" type="org.zunpeng.domain.RoleInfo">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="role" column="role" jdbcType="VARCHAR"/>

		<result property="createTime" column="create_time"/>
	</resultMap>

	<sql id="baseSql">
		from user_role
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_condition"/>
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into user_role (role, create_time)
		values(#{role}, #{createTime})
	</insert>

	<update id="update">
		update user_role
		set role = #{role}
		where id = #{id}
	</update>

	<select id="getById" resultMap="baseResultMap">
		select * from user_role where id = #{id}
	</select>

	<select id="getAllLimit" resultMap="baseResultMap">
		select *
		<include refid="baseSql"/>
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_order_by_and_limit"/>
	</select>

	<select id="count" resultType="java.lang.Long">
		select count(*)
		<include refid="baseSql"/>
	</select>
</mapper>