<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zunpeng.mapper.SolutionInfoMapper">

	<resultMap id="baseResultMap" type="org.zunpeng.domain.SolutionInfo">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="slug" column="slug" jdbcType="VARCHAR"/>
		<result property="title" column="title" jdbcType="VARCHAR"/>
		<result property="description" column="description" jdbcType="VARCHAR"/>
		<result property="coverImg" column="cover_img" jdbcType="VARCHAR"/>
		<result property="content" column="content" jdbcType="VARCHAR"/>
		<result property="deleted" column="deleted" jdbcType="INTEGER"/>
		<result property="published" column="published" jdbcType="INTEGER"/>
		<result property="technology" column="technology" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time"/>
		<result property="lastModifyTime" column="last_modify_time"/>
		<result property="sequence" column="sequence" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="baseSql">
		from solution_info
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_condition"/>
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into solution_info(title, cover_img, description, content, deleted, published, technology, create_time, last_modify_time)
		values(#{title}, #{coverImg}, #{description}, #{content}, #{deleted}, #{published}, #{technology}, #{createTime}, #{lastModifyTime})
	</insert>

	<update id="update">
		update solution_info
		set slug = #{slug}, title = #{title}, description = #{description}, content = #{content},
			technology = #{technology} , deleted = #{deleted}, published= #{published}, last_modify_time = #{lastModifyTime},
			cover_img = #{coverImg}
		where id = #{id}
	</update>

	<select id="getById" resultMap="baseResultMap">
		select * from solution_info where id = #{id}
	</select>

	<select id="getBySlug" resultMap="baseResultMap">
		select * from solution_info where slug = #{slug}
	</select>

	<select id="getAllLimit" resultMap="baseResultMap">
		select *
		<include refid="baseSql"/>
		<include refid="org.zunpeng.mapper.BaseMapper.base_sql_order_by_and_limit"/>
	</select>

	<select id="count" resultType="java.lang.Long">
		select count(*)
		<include refid="baseSql"/>
	</select>

</mapper>