<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="zh-cn" th:replace="portal/include/layout :: common_head (~{::title}, ~{::meta}, ~{::link})">
	<meta name="keywords" content="新闻中心">
	<meta name="description" content="新疆乌鲁木齐鑫顺门窗有限公司">
	<title>新闻中心-鑫顺门窗</title>
	<link rel="stylesheet/less" type="text/css" th:href="@{/style/portal/error.less}" />
	<link type="text/css" rel="stylesheet" th:href="@{/javascript/plugin/unslider/css/unslider.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/javascript/plugin/unslider/css/unslider-dots.css}"/>
</head>
<body th:replace="portal/include/layout :: common_body (4, ~{::div}, ~{::script})">
	<div class="main_content">
		<div class="container">
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"></script>
</body>
</html>