<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="zh-cn" th:replace="portal/include/layout :: header ('新闻中心-鑫顺门窗', @{/style/portal/error.less}, '404', '404')"></head>
<body>
	<div th:replace="portal/include/layout :: menu_main(4)"></div>
	<div class="main_content">
		<div class="container">
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
			<div class="article_wrapper">
				<div class="article_title">Verizon宣布48亿美元收购雅虎核心业务</div>
				<div class="article_brief">
					<span class="article_original">来源:新浪科技</span>
					<span class="article_send_time">2016年</span>
					<span class="article_summary">摘要:北京时间7月25日晚间， Verizon宣布48.3亿美元收购雅虎核心业务...</span>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="portal/include/layout :: footer"></div>

</body>
</html>