<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="zh-cn" th:replace="portal/include/layout :: common_head (~{::title}, ~{::meta}, ~{::link})">
	<meta name="keywords" content="新闻中心">
	<meta name="description" content="北京多贝兄弟信息技术有限公司">
	<title>新闻中心-多贝云</title>
	<link rel="stylesheet/less" type="text/css" th:href="@{/style/portal/error.less}" />
	<link type="text/css" rel="stylesheet" th:href="@{/javascript/plugin/unslider/css/unslider.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/javascript/plugin/unslider/css/unslider-dots.css}"/>
</head>
<body th:replace="portal/include/layout :: common_body (4, ~{::div}, ~{::script})">
	<div class="main_content">
		<div class="container">

		</div>
	</div>

	<script type="text/javascript"></script>
</body>
</html>