<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="zh-cn" th:replace="portal/include/layout :: common_head (~{::title}, ~{::meta}, ~{::link})">
	<meta name="keywords" content="首页">
	<meta name="description" content="新疆乌鲁木齐鑫顺门窗有限公司">
	<title>测试</title>
	<link rel="stylesheet/less" type="text/css" th:href="@{/style/portal/index.less}" />
	<link type="text/css" rel="stylesheet" th:href="@{/javascript/plugin/unslider/css/unslider.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/javascript/plugin/unslider/css/unslider-dots.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/javascript/plugin/videojs/video-js.min.css}">
</head>
<body th:replace="portal/include/layout :: common_body (1, ~{::div}, ~{::script})">
	<div class="main_content">
		<style type="text/css">
			#my-video {
				width: 100%;
			}
		</style>
		<div class="container">
			<video id="my-video" class="video-js" controls preload="auto" data-setup="{'playbackRates':[1, 1.5, 2]}"
			       webkit-playsinline="">
				<!--<source th:src="${url}" type='application/x-mpegURL'>-->
				<source src="http://zeus-video.zunpeng.org/94485420ba524bfe97ce23bb23e9708e.m3u8?pm3u8/0/deadline/1472796652&e=1472556652&token=HLSXTk-f9pJDJhDFX-a6gcVcxuKDKvqaUmmhkQwE:MkqtH0ohrRy-3YRdv8wzXgR852w=" type='application/x-mpegURL'>
			</video>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/javascript/plugin/swfobject.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/plugin/videojs/video.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/plugin/videojs/videojs-contrib-hls.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/plugin/videojs/videojs.hotkeys.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/portal/jquery.video_player.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){
			if($.isMobileBrowser()){
				$.initMobilePlayer($("#my-video"));
			} else {
				$.initPCPlayer($("#my-video"));
			}
		});
		/*]]>*/
	</script>
</body>
</html>