<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="zh-cn" th:replace="portal/include/layout :: header ('产品中心-鑫顺门窗', @{/style/portal/error.less}, '404', '404')"></head>
<body>
	<div th:replace="portal/include/layout :: menu_main(2)"></div>
	<div class="main_content">
		<div class="container">

		</div>
	</div>
	<div th:replace="portal/include/layout :: footer"></div>

</body>
</html>