<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
		PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<properties resource="mybatis_generator_config.properties"/>

	<classPathEntry location="${mysql.driver.path}" />

	<context id="mysql" targetRuntime="MyBatis3" defaultModelType="hierarchical">
		<property name="autoDelimitKeywords" value="false"/>
		<property name="javaFileEncoding" value="UTF-8"/>
		<property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
		<property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

		<property name="beginningDelimiter" value="`"/>
		<property name="endingDelimiter" value="`"/>

		<jdbcConnection driverClass="${database.driver_class_name}"
		                connectionURL="${database.url}"
		                userId="${database.user}"
		                password="${database.password}">
		</jdbcConnection>

		<javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
			<property name="forceBigDecimals" value="false"/>
		</javaTypeResolver>

		<javaModelGenerator targetPackage="${target.entity.package}" targetProject="${target.entity.src}">
			<property name="constructorBased" value="false"/>
			<property name="enableSubPackages" value="true"/>
			<property name="immutable" value="false"/>
			<property name="rootClass" value="${abstract.entity}"/>
			<property name="trimStrings" value="false"/>
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="${target.mapper.xml.package}" targetProject="${target.mapper.xml.src}">
			<property name="enableSubPackages" value="true"/>
		</sqlMapGenerator>

		<javaClientGenerator targetPackage="${target.mapper.class.package}" type="XMLMAPPER" targetProject="${target.mapper.class.src}">
			<property name="enableSubPackages" value="true"/>
		</javaClientGenerator>

		<table tableName="slug_info" >
			<property name="constructorBased" value="false"/>
			<property name="ignoreQualifiersAtRuntime" value="false"/>
			<property name="immutable" value="false"/>
			<property name="modelOnly" value="false"/>
			<property name="selectAllOrderByClause" value="id desc"/>
			<property name="useActualColumnNames" value="false"/>
		</table>

		<table tableName="account_info" >
			<property name="constructorBased" value="false"/>
			<property name="ignoreQualifiersAtRuntime" value="false"/>
			<property name="immutable" value="false"/>
			<property name="modelOnly" value="false"/>
			<property name="selectAllOrderByClause" value="age desc,username asc"/>
			<property name="useActualColumnNames" value="false"/>
		</table>

	</context>

</generatorConfiguration>